<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Amazing app to find nearest MBTA station</title>
    <style type="text/css">
      body {
      font-family: Helvetica;
      font-size: big;
      }
      .center {
      text-align: center
      }
      </style>
  </head>
  <body style="background-color: rgb(254, 251, 245); color: rgb(118, 19, 35); text-align: center;">
      <p class="body center"><h1>A color palette generator</h1></p>
      <p><h2>This Amazing App to Help You Find the Nearst MBTA Station!</h2></p>
      <p><i><h3>Please, add 'mbta' to the URL above to get started.</h3></i></p>
  </body>
</html>